* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #0f0f0f;
  color: #ffffff;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #111111;
}

nav ul {
  display: flex;
  gap: 30px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #dddddd;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #4da3ff;
}

.logo {
  font-size: 28px;
}

.logo span {
  color: #4da3ff;
}

/* Hero Section */
.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 48px;
}

.hero h1 span {
  color: #4da3ff;
}

.hero p {
  margin-top: 10px;
  font-size: 20px;
  color: #cccccc;
}

.btn {
  margin-top: 20px;
  padding: 12px 30px;
  background: #4da3ff;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s;
}

.btn:hover {
  background: #1b76d1;
}

/* Sections */
.section {
  padding: 60px 50px;
}

.section h2 {
  margin-bottom: 20px;
  font-size: 32px;
  color: #4da3ff;
}

.skills-grid div,
.project,
.contact p {
  margin-bottom: 15px;
}

.project h3 {
  color: #4da3ff;
}

ul {
  margin-left: 20px;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #111111;
  margin-top: 40px;
}

/* Responsive Design */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    gap: 10px;
  }

  .hero h1 {
    font-size: 34px;
  }

  .section {
    padding: 40px 20px;
  }
}
